<div fxLayout="row" fxLayoutAlign="space-around center">
  <div *ngIf="isLoading">
    <mat-spinner diameter="20" color="accent"></mat-spinner>
  </div>
  <mat-form-field appearance="outline" [formGroup]="formGroup">
    <mat-label>{{ fieldData.label }}</mat-label>
    <mat-select 
          #select
          matNativeControl 
          formControlName="{{fieldData.name}}" 
          (selectionChange)="onChange()" 
          [multiple]="fieldData.multiple"
          [required]="fieldData.required">
      <mat-option *ngFor="let option of fieldData.options; let i = index" [value]="option.value" [disabled]="option.disabled ? option.disabled : false" [style.color]="(i < 10 && isRecomendation) ? '#64ca26' : 'inherit'">
        {{option.name}}
      </mat-option>
    </mat-select>
    <mat-error>{{ fieldData.name }} no tiene un valor correcto.</mat-error>
  </mat-form-field>
</div>
