.loading{
    position: relative;
    left: 50%;
}

.actions{
    padding-bottom: 25px;   
}

.actions a{
    margin-right: 5px;
    width: 100px;
}

.actions button{
    margin-right: 5px;
    width: 100px;
}

th.mat-header-cell, td.mat-cell {
    border:none;
}
.detailRow{
    text-align: center;
    justify-content:center;
}
.detail{
    cursor:pointer;
    font-size:2.5rem;
}
.detail:hover{
    opacity:0.5;
}

.mat-badge-medium .mat-badge-content {
    line-height: 30px;
    top: -15px;
    right: -15px;
    min-width:30px;
    width: auto;
    min-height:30px;
    height: auto;
    padding: 4px 4px;
}
table{
    width:100%;
}
mat-row{
    &:hover{
        background-color: #ccc;;
        cursor:pointer;
    }
}
.mat-column-id, .mat-column-link {
    flex: 0 0 10%;
}
.mat-column-title{
    flex: 0 0 55%;
}
.mat-colum-user{
    flex: 0 0 35%;
}
.table-container{
    max-height:calc(100vh - 200px);
    display:inline-block;
    overflow-y: auto;
    margin-right: 1rem;
}
.w-75{
    width:75px;
}